@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Mono&family=Roboto:wght@100&display=swap");

@import url("./nav.css");
@import url("./footer.css");
@import url("./log-in.css");
@import url("./sign-up.css");
@import url("./post-message.css");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: rgb(30, 30, 49);
}

a {
  text-decoration: none;
  color: rgb(226, 192, 1);
  letter-spacing: -0.1rem;
}

a:hover {
  -webkit-filter: brightness(125%); /* Safari/Chrome */
  filter: brightness(125%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 192, 1);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000cb3;
}

.messages-container {
  width: 50%;
  margin: auto;
  overflow-y: scroll;
  height: 730px;
  padding: 0 12px;
}

.message {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 12px;
}

.message > h1 {
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}

.message > p {
  font-size: 22px;
  background-color: grey;
  padding: 10px;
  border-radius: 4px;
  min-height: 100px;
}

.message > span {
  color: grey;
}
